@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');


/*NAVBAR STYLE*/

:root{
    background-color: #121212ff;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#navbar {
    border-bottom: 1px solid rgba(114, 114, 114, 0.32);
}

#navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    /* padding: 0 40px;*/
}

#navigation-option {
    font-family: 'Inter', sans-serif;
}

#navigation-option p {
    padding: 0 20px;
    font-weight: 600;
}

#navigation-option p:hover {
    color: #C9F31D;
    cursor: pointer;
    scale: 1.2;
    transition: all 0.1s linear;
}

#registration-login button {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

/*HOME PAGE*/
#title-home {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#logoipsum{
    color: #757575;
}

/*@media screen and (min-width:1440px ){
    #header-home {
        border-radius: 10px;
        box-shadow:inset 0 0 20px rgba(146, 255, 30, 0.55);
        border: 1px solid rgba(146, 255, 30, 0.47);
    }
}
@media (min-width: 810px) and (max-width:1440px ){
    #header-home {
        border-radius: 10px;
        box-shadow:inset 0 0 20px rgba(146, 255, 30, 0.55);
        border: 1px solid rgba(146, 255, 30, 0.47);
    }
}

@media (max-width: 810px) {
    #header-home {
        border-radius: 10px;
        box-shadow:inset 0 0 20px rgba(146, 255, 30, 0.55);
        border: 1px solid rgba(146, 255, 30, 0.47);
    }
}*/
#header-home p {
    color: rgba(140, 140, 140, 0.91);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.btn-home{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 9px;
    background: transparent;
    box-shadow:0 0 10px rgba(146, 255, 30, 0.55);
    border: 1px solid rgba(146, 255, 30, 0.47);
    color: white;
}
.btn-home:hover{
    background:#C9F31D;
    font-weight: 600;
    color: #313131;
    transition: all 0.3s ease-in-out;
}
#collaboration{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
#img-sport{
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(146, 255, 30, 0.55)
}

#img-container-home{
    border-radius: 20px;
}
#offers-section-home{
    font-family: 'Inter', sans-serif;
    color: rgba(229, 229, 229, 0.8);
}
#offers-section-home h2{
    font-weight: 700;
}
#offers-section-home p{
    color: rgba(117, 117, 117, 0.75);
    font-weight: 500;
}
.list-offers{
    font-family: 'Inter', sans-serif;
    color: rgba(117, 117, 117, 0.75);
    font-weight: 400;
    line-height: 3;
}
#discover-more{
    font-family: 'Inter', sans-serif;
    color: rgba(104, 238, 9, 0.75);
    font-weight: 600;
}
#footer-icon{
    color: #2c2c2c;
}
#footer-brand{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #c4c4c4;
}
#footer-slogan{
    font-family: 'Inter', sans-serif;
    color: #3f3f3f;
    font-weight: 500;
}

.icon-social{
    margin: 0 5px;
}

.footer-link{
    font-family: 'Inter', sans-serif;
    color: #757575;
    font-weight: 700;
}

#learn-section{
    color:#c4c4c4;
    font-weight: 700;
}
#learn-section p{
    color: #505050;
    font-weight: 500;
}

.title-card{
    font-weight:700;
}

#contact-space{
    font-family: 'Inter', sans-serif;
    color: #c9c9c9;
    font-weight: 700;
}
.contact-us{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #4b4a4a;
}

.contact-p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #c9c9c9;
}
.icon-section{
    color: #c5f5b7;
}